# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


**/build/
**/bin/
**/lib/
**/out/
**/target/
**/CMakeFiles/
**/cmake-build-debug/
**/cmmake-build-release/
**/cmake-build-minsize/
**/cmake-build-relwithdebinfo/
**/cmake-build-minsizerel/
**/cmmake-build-debug/
**/cmmake-build-release/
**/cmmake-build-minsize/
**/cmmake-build-relwithdebinfo/
**/cmmake-build-minsizerel/
**/cmake_install.cmake
**/CMakeCache.txt
**/Makefile
**/cmake_install.cmake
**/CMakeFiles/
**/CMakeScripts/
**/CMakeTmp/
**/CPackConfig.cmake
**/CPackSourceConfig.cmake
**/CTestTestfile.cmake